.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.1s ease 0s;
}

.footer__column-link:hover {
  opacity: 0.7;
}
