.body {
    margin: 0 auto;
}

.page {
    background: #ffffff;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arial, 'Helvetica Neue', sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    display: flex;
    background-color: #f2f2f2;
}

.logo {
    z-index: 1;
}

.logo_place_header {
    position: absolute;
    margin-top: 30px;
    margin-left: 64px;
    width: 228px;
    height: 32px;
    background-image: url(../images/logo_place_header.svg);
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 64px;
  z-index: 2;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    margin: 0 auto;
    bottom: 30px;
    left: 64px;
    z-index: 1;
    line-height: 25px;
    font-size: 18px;
    font-style: normal;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    height: 608px;
    width: 765px;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    background-image: url(./images/header-image.png);
    background-size: cover;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    margin: 0;
    top: 64px;
    right: 0;
    background: #2f80ed;

}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0 auto;
    width: 175px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
}

.two-columns__paragraph:last-of-type {
    margin-bottom: 0;
}

.section-title {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    line-height: 1.15;
    font-size: 60px;
}

.section-subtitle {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.table {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
    margin-bottom: 100px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.table__text {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

 .feynman {
    height: 890px;
    background-color: #f2f2f2 ;
    background-image: url(./images/feynman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
 }

 .feinman__title {
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto;
    padding: 100px 0 0 0;
 }

 .feinman__subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
    padding-top: 70px;
 }

 .feinman__link {
    position: absolute;
    justify-content: center;
    right: 48px;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
 }

 .kaufman {
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
    z-index: 1;
 }

 .kaufman__triangle {
    height: 877px;
    width: 877px;
    background-image: url(./images/kaufman-triangle.svg);
    z-index: 0;
    position: absolute;
    top: 0;
    right: -210px;
 }

.section-title_theme_dark {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 0;
    color: white;
}

.section-subtitle_theme_dark {
    color: white;
}

.table_theme_dark {
    z-index: 1;
    margin-bottom: 90px;
}

.table__cell_theme_dark {
    width: 200px;
    z-index: 1;
    margin-top: 80px;
    color: white;
    margin-right: 0;
}

.table__heading_theme_dark {
    z-index: 1;
    color: white;
    margin: 0 auto;
}

.table__text_theme_dark {
    z-index: 1;
    color: white;
}

.footer {
    background-color:  #1f1f1f;
    min-height: 350px;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.logo_place_footer {
    width: 228px;
    height: 32px;
    background-image: url(./images/logo_place_footer.svg);
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__column-heading {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;

}

.footer__column-links {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
}

.footer__social-icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

